body{
margin: 0;
background-color: black;
justify-content: center;
align-items: center;
min-height: 100vh;
max-width: 100;
}

.fon{
    width: 1471px;
    height: 730px;
    
    margin-left: 12px;
    position: relative;
}
.fon2{
    width: 1471px;
    height: 800px;
    bottom: 248px;
    margin-left: 12px;
    position: relative;
}
.fon3{
    width: 1471px;
    height: 800px;
    bottom: 811px;
    margin-left: 12px;
    position: relative;
}
.fon4{
    width: 1471px;
    height: 800px;
    bottom: 500px;
    margin-left: 12px;
    position: relative;
}


.a1{
    position: relative;
    left: 20px;
}



/* menu qismi tugadi  */

.Iam{
    width: 420px;
    height: 200px;
    bottom: 600px;
    position: relative;
    left: 100px;
 

}
.text1{
    text-align: left;
    font-size: 30px;
    color: red;
}
.lorem1{
    width: 300px;
    height: 200px;
    color: #fff;
}
.knopka1{
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a , #69007f, #fc0987);
    padding: 14px 25px;
    font-size: 1.25em;
    border-radius: 10px;
}
.knopka1 span{
    position: relative;
}

.knopka1::before{
    content: '';
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
}

.knopka1:hover::before{
    opacity: 0.7;
    
}

.knopka1::after{
    content: '';
    position: absolute;
    inset: 0px;
    opacity: 0;
    border-radius: 9px;
    transition: 0.5s;
    background: linear-gradient(45deg, #0ce39a , #69007f, #fc0987);
    filter: blur(35px);
}

.knopka1:hover::after{
      opacity: 1;
}

.img1{
   width: 300px;
   height: 300px;
   bottom: 1000px;
   position: relative;
}
.img1:hover{
    border-radius: 30px;
    transition: 1s;
}
.img2{
    width: 300px;
    height: 250px;
    bottom: 900px;
    position: relative;
}
.img2:hover{
    border-radius: 30px;
    transition: 1s;
}
 .txt1{
    color: #fff;
    position: relative;
    bottom: 1000px;
    text-align: left;
    width: 800px;
    background-color: blue;  
    
 }
 .txt2{
    color: #fff;
    position: relative;
    bottom: 900px;
    width: 800px;
    text-align: right;
    background-color: green;
    
 }

 .txt1:hover{
    background: linear-gradient(45deg, #0ce39a , #69007f, #fc0987);
    border-radius: 25px;
    transition: 1s;
    color: #000;
 }
 .txt2:hover{
    background: linear-gradient(45deg, #0ce39a , #69007f, #fc0987);
    border-radius: 25px;
    transition: 1s;
    color: #000;
 }
 .carusel1{
    position: relative;
    bottom: 812px;
    width: 1473px;
   
 }

 .card{
    position: relative;
    bottom: 700px;
    background-color: #000;
    color: #fff;
    border: 2px solid red;
    text-align: left;
 }

 .daraja{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    bottom: 600px;
    
   
 }
.daraja .progress{
    position: relative;
    width: 150px;
    height: 150px;
    background: #444 linear-gradient(to right, transparent 50%, var(color)0);

}
.daraja .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;

}

.daraja .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;

}

.daraja .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(color);
    text-transform: uppercase ;
}

.daraja .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius:  0 100% 100% 0/50%;
    
}
.daraja .progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
    
}


.daraja .progress::before{
    background: var(color);
    transform: rotate(calc(((var(--i)-50)*0.1turn)));
    
}
.daraja .progress.less::before{
    background: #444;
    transform: rotate(calc(((var(--i)-50)*0.1turn)));
}


.daraja1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    bottom: 400px;
    
   
 }
.daraja1 .progress{
    position: relative;
    width: 150px;
    height: 150px;
    background: #444 linear-gradient(to right, transparent 50%, var(color)0);

}
.daraja1 .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;

}

.daraja1 .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;

}

.daraja1 .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(color);
    text-transform: uppercase ;
}

.daraja1 .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius:  0 100% 100% 0/50%;
    
}
.daraja1 .progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
    
}


.daraja1 .progress::before{
    background: var(color);
    transform: rotate(calc(((var(--i)-50)*0.1turn)));
    
}
.daraja1 .progress.less::before{
    background: #444;
    transform: rotate(calc(((var(--i)-50)*0.1turn)));
}



.daraja2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    bottom: 200px;
    
   
 }
.daraja2 .progress{
    position: relative;
    width: 150px;
    height: 150px;
    background: #444 linear-gradient(to right, transparent 50%, var(color)0);

}
.daraja2 .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;

}

.daraja2 .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;

}

.daraja2 .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(color);
    text-transform: uppercase ;
}

.daraja2 .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius:  0 100% 100% 0/50%;
    
}
.daraja2 .progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
    
}


.daraja2 .progress::before{
    background: var(color);
    transform: rotate(calc(((var(--i)-50)*0.1turn)));
    
}
.daraja2 .progress.less::before{
    background: #444;
    transform: rotate(calc(((var(--i)-50)*0.1turn)));
}